/*Обьявляем CSS переменные для цвета */
:root {
  --primary-text-color: #757575; /*Цвет основного текста  #757575 */
  --title-text-color: #212121; /*Цвет заголовков #212121 */
  --accent-color: #2196f3; /* Цвет акцента #2196F3 */
  --address-text-color: #ffffff; /* Цвет физического адреса #ffffff */
  --hero-text-color: #ffffff;
  --footer-cont-text-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* Цвет контактов в Футере mail, tel, rgba(255, 255, 255, 0.6) */
  --footer-logo-span-color: #ffffff; /*Цвет span в логотипе footer */
  --primary-bg-color: #ffffff; /* Основной цвет фона body background #ffffff */
  --secondary-bg-color: #f5f4fa; /* Вторичный цвет фона #F5F4FA */
  --hero-bg-color: #2f303a; /* Цвет фона hero #2F303A */
  --footer-bg-color: #2f303a; /* Цвет фона footer #2F303A */
  --header-line-color: #ececec; /* Цвет линии в header #ECECEC !!!*/
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', Tahoma, sans-serif;
}

/* Задает цвет логотипа */
.logo {
  color: var(--accent-color);
}
.logo-span {
  color: var(--title-text-color);
}
.footer .logo-span {
  color: var(--footer-logo-span-color);
}

/* Стилизируем ссылки */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color); /* Делает акцент на активную страницу */
}

.contaсt-nav .link {
  color: var(--primary-text-color);
}
.contaсt-nav .link:hover,
.contaсt-nav .link:focus {
  color: var(--accent-color);
}
.address-list .address {
  color: var(--address-text-color);
}
.address-list .link {
  color: var(--footer-cont-text-color);
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}
/* Убираем точки в списков */
.list {
  list-style: none;
}
.feature-list {
  list-style: none;
}
.examples-list {
  list-style: none;
}
.team-list {
  list-style: none;
}
.address-list {
  list-style: none;
}
/* Секция Header */
.header {
}
/* Секция Hero */
.hero {
  background-color: var(--hero-bg-color);
  color: var(--hero-text-color);
}

/* Задаем цвет тексту секции
      Особенности */
.feature-title {
  color: var(--title-text-color);
}
.feature-list .title {
  color: var(--title-text-color);
}

/* Задаем цвет тексту секции
Чем мы занимаемся */
.examples-title {
  color: var(--title-text-color);
}
/* Задаем цвет тексту секции
Наша команда*/
.team {
  background-color: var(--secondary-bg-color);
}
.team-title {
  color: var(--title-text-color);
}
.team-list .title {
  color: var(--title-text-color);
}
/* Секция footer */
.footer {
  background-color: var(--footer-bg-color);
}

/* Страница портфолио */
/* Убираем точки в списках */
.list-button {
  list-style: none;
}
.project {
  list-style: none;
}

/* Задаем цвет тексту */
.portfolio-title {
  color: var(--title-text-color);
}
.portfolio .title {
  color: var(--title-text-color);
}
